// Background Colors
$dark-blue: #212c4f;
$light-gray: #f0f3f5;
$blue-red-gradient: linear-gradient(
  153deg,
  rgba(48, 73, 255, 1) 16%,
  rgba(193, 71, 71, 1) 95%
);
$super-dark-blue: #1e2c5c;
$transparent: rgba(0, 0, 0, 0.5);

// Text Colors
$dark-green: #205284;
$dark-gray: #7a8197;
$light-blue: #c6d0eb;
$black: #000000;
$white: #ffffff;

// Button Colors
$purple: #7b42f6;
$violet: #b01eff;
$pink: #e1467c;
$blue: #3672f8;
$middle-blue: #546bfb;
$teal: #56ccf2;
$green: #a6e1d5;
$turquoise: #14f1d9;
